@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');

body{
  font-family: "Kanit", sans-serif;
  color: #333;
}
.btn-primary{
  font-weight: 600;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 25px;
  background: radial-gradient(100% 100% at 100% 0%, #087699 0%, rgba(8, 118, 153, 0) 100%), #085199;
  border: 0;
}
  a:hover{
    text-decoration: none;
  }
.navigation{
  background-color: rgba(0, 0, 0, 0.7);

  .navbar{
    padding: 5px 20px;
  }

  .navbar-brand{
    padding: 0;
    margin: 0;

    img{
      width: auto;
      height: 50px;
    }
  }
  .nav-item{
    display: flex;
    align-items: center;

    a.nav-link{
      color: white;
      font-size: 20px;
      text-transform: uppercase;
    }

    a.nav-link:hover{
      color: #0095C5;
    }
  }
}
.header{
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  .image{

    img{
      position: absolute;
      z-index: -1;
      width: 100%;
      height: calc(100% + 70px);
      top: -70px;
      left: 0;
    }
  }
  .text{

    h2{
      font-size: 66px;
      font-weight: bolder;
      text-transform: uppercase;
      color: white;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    }
    p{
      padding: 30px;
      font-size: 28px;
      color: white;
    }
  }
}
.info{
  padding: 100px 0;

  h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    color: #333;
    padding-bottom: 50px;
  }
  .image{
    text-align: center;
    margin-left: 60px;

    img{
      max-width: 470px;
      height: auto;
    }
  }
  .col-md-6{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .button{
      padding-top: 30px;
    }
  }
}
.icons{
  background: radial-gradient(99.13% 100% at 100% 0%, #087699 0%, rgba(8, 118, 153, 0) 100%), #085199;
  padding: 100px 50px;
  color: white;

  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 50px;
  }
  .col-md-3{
    text-align: center;

    img{
      margin-bottom: 30px;
      margin-top: 40px;
    }
    p{
      font-size: 25px;
    }
  }
  .button{
    text-align: center;
    margin-top: 50px;

    .btn-primary{
      background: transparent;
      border: 3px solid white;;
    }
  }
}
.forint{
  min-height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  .image{

    img{
      position: absolute;
      z-index: -1;
      width: 100%;
      height: calc(100% + 70px);
      top: -70px;
      left: 0;
    }
  }
  .text{

    h2{
      font-size: 64px;
      color: #333;
      text-transform: uppercase;
      font-weight: bolder;
    }
    p{
      font-size: 28px;
      color: #333;
      margin: 50px;
    }
  }
}
.open{
  padding: 60px;

  .title {
    color: #333;
    font-size: 34px;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .accordion {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    .card {
      //border: 1px solid #06396A;
      border-radius: 0;

      .card-header {
        background: #085199;
        border: 1px solid #06396A;

        .btn-link {
          color: white;
          text-decoration: none;
          font-size: 24px;
          text-transform: uppercase;
          border: 0;
        }

        .btn-link:hover {
          color: #333;
        }

        .btn.focus, .btn:focus {
          box-shadow: 0 0 0 0 transparent;
        }
      }
    }
  }
}
.abra{
  padding: 50px;

  .col-md-4{
    display: flex;
    align-items: center;
  }

  h2{
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 30px;
  }
  .text{

    .number{
      background-color: #085199;
      padding: 7px 14px;
      margin-right: 10px;
      border-radius: 100%;
      color: white;
     }
    .item{
      padding: 10px;
    }
    span{
      font-size: 22px;
    }
  }
  .image{
    text-align: center;

    img{
      max-width: 500px;
      height: auto;

    }
  }
}
.napelem{
  min-height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  .image{

    img{
      position: absolute;
      z-index: -1;
      width: 100%;
      height: calc(100% + 70px);
      top: -70px;
      left: 0;
    }
  }
  .text{

    h2{
      font-size: 64px;
      color: #333;
      text-transform: uppercase;
      font-weight: bolder;
    }
    p{
      font-size: 28px;
      color: #333;
      margin: 50px;
    }
  }
}
.footer{
  padding: 30px;
  background: radial-gradient(100% 100% at 100% 0%, #087699 0%, rgba(8, 118, 153, 0) 100%), #085199;
  color: white;

  h4{
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  p{
    margin-bottom: 40px;
    font-size: 18px;
  }
  h3{
    font-size: 22px;
  }
  a{
    display: block;
    color: white;
    padding-bottom: 7px;
    font-size: 18px;
  }
  a:hover{
    color: rgba(255, 255, 255, 0.6);
  }
}

