@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;400;700&display=swap');

$background: radial-gradient(99.13% 100% at 100% 0%, #FFDA56 18.75%, rgba(255, 218, 86, 0) 100%), #D5A11B;

body{
  font-family: "Open Sans", sans-serif;
  color: #333;
}
.btn-primary{
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 25px;
  background: $background;
  border: 0;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: .5s ease;
}
.btn-primary:hover{
  background: #D5A11B;
}
a:hover{
  text-decoration: none;
}
h1, h2, h5{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
}
.navigation{
  background-color: rgba(0, 0, 0, 0.5);

  .navbar{
    padding: 5px 15px;
  }

  .navbar-brand{
    padding: 0;
    margin: 0;

    img{
      width: auto;
      height: 50px;
    }
  }
  .nav-item{
    display: flex;
    align-items: center;

    a.nav-link{
      color: white;
      font-family: "Kanit", sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      transition: .5s ease;
    }

    a.nav-link:hover{
      color: #FFD43C;
    }
  }
}
.header{
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  .image{

    img{
      position: absolute;
      z-index: -1;
      width: 100%;
      height: calc(100% + 70px);
      top: -70px;
      left: 0;
      object-fit: cover;
    }
  }
  .text{

    h2{
      font-size: 64px;
      font-weight: 800;
      color: white;
      text-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
    }
    p{
      padding: 70px 0;
      font-size: 28px;
      color: white;
      font-weight: 400;
    }
  }
}
.info{
  padding: 100px 0;

  h2{
    padding-bottom: 70px;
  }
  .col-md-6{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .button{
      padding-top: 50px;
    }
  }
}
.icons{
  background: $background;
  padding: 100px 0;
  color: white;

  h2{
    padding-bottom: 50px;
  }
  .col-md-3{
    text-align: center;

    img{
      margin-bottom: 30px;
      margin-top: 40px;
    }
    p{
      font-size: 20px;
    }
  }
  .button{
    text-align: center;
    margin-top: 50px;

    .btn-primary{
      background: transparent;
      border: 3px solid white;
    }
  }
}
.forint{
  min-height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  .image{

    img{
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .text{

    h2{
      font-size: 64px;
      font-weight: 800;
    }
    p{
      font-size: 34px;
      margin-top: 70px;
      margin-bottom: 30px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .check{
      padding: 10px 20px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 8px;
      margin-bottom: 70px;
      display: inline-block;

      .fa-check-square{
        color: #038000;
        font-size: 24px;
      }
      .item{
        font-size: 24px;
        display: inline-block;

        span{
          padding-left: 7px;
          color: black;
        }
      }
      .item:first-child{
        margin-right: 30px;
      }
      .item:last-child{
        margin-left: 30px;
      }
    }
  }
}
.open{
  padding: 90px 0;

  .title{
    padding-bottom: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    text-align: left;
  }

  .accordion {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;

    .card:not(:first-child){
      border-top: 1px solid #8D6B11;
    }

    .card {
      border: 0;
      border-radius: 0;

      .card-header {
        background: #D29F19;
        margin-bottom: 0;

        .btn-link {
          color: white;
          text-decoration: none;
          font-size: 28px;
          text-transform: uppercase;
          border: 0;
          transition: .5s ease;
        }

        .btn-link:hover {
          color: rgba(255, 255, 255, 0.6);
        }

        .btn.focus, .btn:focus {
          box-shadow: 0 0 0 0 transparent;
        }
      }
    }
  }
}
.abra{
  padding: 50px;

  .col-md-4{
    display: flex;
    align-items: center;
  }

  h2{
    text-align: left;
    margin-bottom: 50px;
  }
  .text{

    .item {
      padding: 10px;
    }

    .number{
      display: inline-block;
      background-color: #D29F19;
      height: 40px;
      width: 40px;
      margin-right: 25px;
      border-radius: 100%;
      color: white;
      text-align: center;
      padding-top: 3px;
    }

    span{
      font-size: 24px;
    }

    p {
      font-size: 16px;
      margin-left: 65px;
    }
  }
  .button{
    margin-top: 50px;
  }
}
.napelem{
  min-height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  .image{

    img{
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .text{

    h2{
      font-size: 64px;
      font-weight: 800;
    }
    p{
      font-size: 34px;
      margin: 50px;
    }
  }
}
.footer{
  padding: 30px;
  background: $background;
  color: white;

  h4{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  p{
    margin-bottom: 40px;
  }
  h3{
    font-size: 22px;
    font-weight: 500;
  }
  a{
    display: block;
    color: white;
    padding-bottom: 7px;
    font-size: 16px;
    transition: .5s ease;
  }
  a:hover{
    color: rgba(255, 255, 255, 0.6);
  }
}

@media(max-width: 767px){
  .header{

    .text{
      h2{
        font-size: 40px;
      }
      p{
        font-size: 18px;
      }
    }
  }
  .forint{

    .text{

      h2{
        font-size: 40px;
      }
      p{
        font-size: 18px;
      }
    }
  }
  .napelem{

    .text{

      h2{
        font-size: 40px;
      }
      p{
        font-size: 18px;
      }
    }
  }
}

